@page "/"
@inject Services.IBuscarRestaurantesService BuscarRestaurantesSerice;
@using Restaurante.DTOs;
@using Plotly.Blazor;
@using Plotly.Blazor.Traces;
@using Microsoft.JSInterop;
@using Newtonsoft.Json.Linq;

<PageTitle>Restaurantes</PageTitle>

<img src="https://th.bing.com/th/id/R.b11242ae00be8979ba49803cb5c1a5c5?rik=%2brHeM5JT2dy7zg&pid=ImgRaw&r=0" width="600" height="400" />
<hr />
<h1>Todos os restaurantes:</h1>

@foreach(var i in data)
{
    <p>@i.Nome</p>
}

@code{
    PlotlyChart chart;
    Config config = new Config()
        {
            Responsive = true
        };
    Layout layout;
    List<RestauranteDTO> data;
    int restaurantes;

    protected override async Task OnInitializedAsync()
    {
        data = await BuscarRestaurantesSerice.Find();
        Console.WriteLine(data.Count);
    }


}